<div class="container mx-auto max-w-xl border border-gray-200 p-4 mt-4 rounded">
  <h3 class="text-xl mb-2">Editing Question</h3>

  <br>

  <div><%= render 'form', question: @question %></div>
</div>
