<div class="container mx-auto max-w-xl border border-gray-200 p-4 mt-4 rounded">
  <div class="grid grid-cols-6">
    <h3 class="inline text-xl mb-2 col-span-2">Submissions</h3>
    <h3 class="inline text-xl mb-2 col-span-2">Candidate</h3>
    <h3 class="inline text-xl mb-2 text-center">Rating</h3>
    <h3 class="inline text-xl mb-2 text-center">Status</h3>
  </div>

  <%= render(partial: 'booklet', collection: @booklets) || "No Candidate has Submitted the Assignment." %>
</div>
